DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=ferrosider_produccion_soldadura
CSV_PATH=
ARTICLES_XLSX_PATH=
LKN_DB_NAME=lkn_soft
LKN_AUTO_SYNC_ENABLED=true
LKN_SYNC_SECONDS=15
VITE_AUTO_DASHBOARD_REFRESH=true
